
name: Test

on: [push]

jobs:
  test_gentoo_build:
    runs-on: ubuntu-latest
    name: Build for Raspberry PI ${{ matrix.pi }} aarch64
    
    strategy:
      matrix:
        include:
          - pi: 3
          - pi: 4

    steps:
      - uses: actions/checkout@v2.1.0

      - name: Build for Raspberry PI 3
        uses: expeditioneer/run-on-arch-action@master
        with:
          arch: aarch64
          distro: gentoo_latest
          githubToken: ${{ github.token }}
          dockerRunArgs: |
            --volume "${PWD}/PI${{ matrix.pi }}:/etc/portage"
          run: |
            mkdir /var/db/repos/gentoo
            echo "***********************************************************************"
            cat /etc/portage/make.conf
            echo "***********************************************************************"
            echo "emaint --all sync"
            echo "***********************************************************************"
            eselect profile set default/linux/arm64/17.0/systemd
            echo "***********************************************************************"
            emerge -v sys-kernel/raspberrypi-sources
