
name: Test

on: [push]

jobs:
  test:
    runs-on: macos-10.15
    steps:
      - run: |
          df -h
      - name: start and test FreeBSD VM
        uses: os-runners/freebsd-vm@main
        with:
          version: 12.3
          memory: 8192
          usesh: true
          prepare: pkg install -y poudriere-devel
          run: |
            ls -l /usr/

