
name: Test

on: [push]

jobs:
  test_gentoo_build:
    runs-on: ubuntu-18.04
    name: Build on gentoo aarch64
    steps:
      - uses: actions/checkout@v2.1.0
      
      - uses: expeditioneer/run-on-arch-action@master
        name: Run commands
        id: runcmd
        with:
          arch: aarch64
          distro: gentoo
          
          # Set an output parameter `uname` for use in subsequent steps
          run: |
            uname -a
            echo ::set-output name=uname::$(uname -a)
            cat /etc/portage/make.conf
